@import url('https://fonts.googleapis.com/css?family=Khula');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:  'Khula', sans-serif;
	max-width: 100vw;

}

a:link {
	text-decoration: none;
	color: lime;
}
a:visited{
	color: lightgrey;
}
a:hover{
	color: white;
}

h1{
	font-size: 1.7em;
}

.side__name{
	margin-bottom: 1.6em;
	width: 6.6em;
	border-bottom: solid white;
	/*padding-bottom: -2px;*/
	border-width: 2px;
	color: white;
}
header{ 
	grid-column-start:1;
	grid-column-end: -1;
	background-color: #67979B;
	
	/*align-items: center;*/
	display: flex;
	/*justify-content: space-between;*/
	flex-direction: column;
	align-items: center;
	/*align-self: center;*/
	/*justify-content: center;*/
}
.header__name{
	font-size: 1.7em;
	/*align-self: center;*/

}

.header__role{
	margin-top: -3px;
	margin-left: 1.0px;
	/*align-self: flex-start;*/
	/*align-self: center;*/
	/*justify-content: space-between;*/
}
.container{
	display: grid;
	grid-template-columns: 250px auto;
	background-color: grey;
	margin-left: 15em;


}
img{
	max-height: 500px;
	max-width: 500px;
}
main{
	background-color: violet;
}
aside li{
	margin-bottom: .9em;
}

aside{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #236167;
	position: fixed;
	left: 0;
	width: 15rem;
	height: 100%;
	font-size: 1.75em;
	padding: .3em;


}

article{
	display: grid;
	/*grid-template-columns: repeat(3, 1fr);*/
	background-color: dodgerblue;
}

.contactinfo img{
	width: 7em;
	height: 7em;
}

footer{
	background-color: darkgrey;
	grid-column-start:1;
	grid-column-end: -1;
}