@import url('https://fonts.googleapis.com/css?family=Khula');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:  'Khula', sans-serif;
	max-width: 100vw;

}

a:link {
	text-decoration: none;
	color: lime;
}
a:visited{
	color: yellow;
}
a:hover{
	color: white;
}
.side__name{
	margin-bottom: 1.6em;
	width: 6.6em;
	border-bottom: solid black;
	/*padding-bottom: -2px;*/
	border-width: 2px;
}
header{
	justify-content: center;
	grid-column-start:1;
	grid-column-end: -1;
	background-color: darkslategrey;

}
.container{
	display: grid;
	grid-template-columns: 250px auto;
	background-color: grey;
	margin-left: 15em;


}
img{
	max-height: 500px;
	max-width: 500px;
}
main{
	background-color: violet;
}
aside li{
	margin-bottom: .9em;
}

aside{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: pink;
	position: fixed;
	left: 0;
	width: 15rem;
	height: 100%;
	font-size: 1.75em;
	padding: .3em;


}
/*aside p{
	text-align: space-between;
	margin-bottom: 25px;


}*/
article{
	display: grid;
	/*grid-template-columns: repeat(3, 1fr);*/
	background-color: dodgerblue;

}

footer{
	background-color: lightgrey;
	grid-column-start:1;
	grid-column-end: -1;
}