
@import url('https://fonts.googleapis.com/css?family=Khula');
@media only screen and (max-width: 500px) {
	header{
		margin-left: 12rem;
		justify-content: flex-start;
	}

	.bio {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		margin-right: .25em;
		margin-left: .25em;
	}
	.image {
		display: flex;
		flex-wrap: wrap;
	}
	footer{
		/*display: flex;*/
		display: initial;
		grid-column-start:0;
		grid-column-end: -1;
		text-align: center;
		justify-content: center;

	}

	aside ul{
		top: 1em; 
	}
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:  'Khula', sans-serif;
	max-width: 100vw;
	--blue: #0B2957;
	z-index: 1;
}

a:link {
	text-decoration: none;
	color: var(--blue);
}
a:visited{
	color: darkgrey;
}
a:hover{
	color: #6188B6;
}

h1{
	font-size: 1.7em;
}
h2{
	color: white;
}

.container{
	display: grid;
	grid-template-columns: 14rem auto;
	grid-template-rows: 8rem 1fr 2rem;
	/*background-color: white;*/
	color: white;
	
}

body{
	background-image: url("C:/users/wecancodeit/wcci/code/kaseycolian.github.io/static/images/keyboard.jpeg");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	background-size: 100%;
	z-index: -1;

}

.layer{
	/*background-color: rgba(254, 254, 254, .27);
	*/
	background-color: rgba(138, 0, 230, .1);
	z-index: -1;
}


aside a:link{
	color: white;
}

aside a:hover{
	color: lightgrey;
	font-size: scale(1.2);
	position: absolute;
}

aside a:visited{
	color: darkgrey;
}

nav{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*background-color: #0B2957;*/
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
	width: 14rem;
	height: 100%;
	font-size: 1.25em;
	padding: .3em;
	flex-wrap: wrap;
	grid-column-end:1;
	grid-column-start:0;

}

nav ul li a:hover{
	color: lightgrey;
}

.show-nav-button{
	position: fixed;
	right: .5rem;
	top: 10rem;
	height: 5.5rem;
	width: 5.5rem;
	background-image: radial-gradient(circle at center, black 80%, #FE80FE);
	font-size: 1.30rem;
	transform: rotateX(28.5deg) rotateY(8deg) rotateZ(15deg);
	color: #BF46E1;
	border-radius: .25rem;
	border: solid #BF46E1 .1rem;
	box-shadow: .25rem .25rem .75rem black, -.25rem -.25rem .75rem black;
}

/*.change .show-nav-button{
	 transform: rotateX(45deg) translate(-8px, -8px);
	  transform: rotateY(130deg);
}*/

.side__name{
	margin-bottom: 1.6em;
	width: 6.65em;
	border-bottom: solid grey;
	border-width: 2px;
	color: white;
	font-size: 1.20em;
}

header{ 
	grid-column-start:1;
	grid-column-end: -1;
	/*background-color: white;*/
	display: flex;
	/*flex-direction: column;*/
	align-items: center;
	justify-content: center;
	margin-left: 14rem;
}
.header{
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
}

.header__name{
	align-self: center;
	font-size: 1.7em;
	margin-top: .5em;
}
.header__role{
	margin-top:-.2em;
	align-self: center;
}

.inner{
	display: grid;
	grid-column-start:0;
	grid-column-end: -1;
}

.bio{
	display: flex;
	justify-content: space-around;
	margin-left: 4.2em;
	margin-right: 4em;
	margin-top: 5.5em;
	margin-bottom: 6.3em;
	font-size: 1.2rem;

}

.salutation{
	align-self: center;
	margin-right: 3em;
	flex-wrap: wrap;
	font-size: 1.2em;
}

.salutation p{
	margin-top: .85rem;
}

.bio img{
	height: 27rem;
	width: 28rem;
	border-radius: 4.2rem .1rem;
}

.contactinfo img{
	margin-top: 1em;
	max-height: 400px;
	max-width: 400px;
	margin-left: 2rem;
	margin-right: 2rem;
	z-index: 3000;
}
article img{
	height: 25rem;
	width: 35rem;
}

.skills{
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2.5rem;

}

.skills h2{
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	display:flex;
	justify-content: center;
	font-size: 2.5rem;

}

.skills ul{
	display: flex;
	margin-left: 14rem;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 2rem;
/*	display: flex;
	flex-direction: column;
	height: 8em;
	flex-wrap: wrap;
	font-size: 1.25em;
	margin-top: .5em;*/
	/*margin-left: -14rem;*/

}
ul, menu, dir {
	    -webkit-padding-start: 0rem;
}
.skills li{
	margin-right: 3em;
	font-size: 1.5em;
}

.contactinfo img{
	width: 7em;
	height: 7em;
	margin-right: .5em;
}

.contactinfo{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1.5em;
}

.contactinfo h2{
	margin-top: 10rem;
	font-size: 2.5rem;
}

.contactinfo a {
	margin-right: 4em;
}

.contact__links{
	display: flex;
	flex-direction: row;
	align-items: center;
	/*justify-content: space-between;*/
	margin-top: 1.55em;
	margin-bottom: 3em;
	flex-wrap: wrap;
}
.contact__links img:hover{
/*position: relative;*/
transform: scale(1.2);
z-index: 2;
}

aside li{
	margin-bottom: 1rem;

}

article h1{
	margin-top: 1.5em;
	margin-bottom: .5em;
	font-size: 2em;
}

.left{
	margin-left: -45rem;
	padding-left: .1rem;
}
.right{
	/*margin-right: -1.5rem;*/
	padding-right: .1rem;
}


.right, .left {  
	z-index: 1;
	font-weight: bold;  
	font-size: 1rem;  
	background-color: rgba(254, 254, 254, .6);
	/*padding: .5em;*/
	width: 2.5em;
	border-radius: 1em;
	border: .2rem solid #0b2957;
	font-size: 2em;
	text-align: center;
	font-color: #0b2957;
	align-self: flex-start;
	margin-top: .25rem;
	padding-top: .25em;
}  

.projectDetails{
	display: flex;
	justify-content: center;
	background-color: #0b2957;
	padding: .5em;
	width: 12em;
	border-radius: 1em;
	font-size: .8em;
	text-align: center;
	color: white;
	margin-left: 11.6rem;
}

#projectContent{
	margin-top: 1rem;
	margin-right: 22rem;
}


article{
	font-size: 1.1em;
	max-width: 100vw;
	
}

article h2 {
	content: "";
	left: 25%;
	margin-bottom: 1.7em;
	width: 30%;
	border-bottom:.20em solid var(--blue);
	display: flex;
	justify-content: center;
}

.project img{
	box-shadow: .15em .15em darkgrey;
}

.btn a:link{
	color: #0b2957;

}

.btn a:hover{
	color: lightgrey;
}

.btn a:visited{
	color: navy;
}

.btn {
	background-color: white;
	padding: .5em;
	width: 11em;
	border-radius: 1em;
	border: .2rem solid #0b2957;
	font-size: .8em;
	text-align: center;
	font-color: #0b2957;
	margin-left: 11.7rem;
}

footer{
	align-items: center;
	/*grid-column-start:1;*/
	grid-column-end: -1;
	/*flex-wrap: wrap;*/
	display: flex;
	justify-content: space-between;
	padding-left:15rem;
	padding-right: 1rem;
	color: white;
}

.home__link__footer{
	margin-left: 23em;
}


aside button{
	/*transition: background-image 0.5s ease-out;*/
	margin-top: 2rem;
	background-image: radial-gradient(circle at center, black 77%, #E40836);
	padding: .4em;
	width: 9em;
	border-radius: .7em;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	color: #E40836;
	border: solid black .2rem;
	background-size: 25% 100%;
 }
aside button:hover{
	/*transition: background-image 2s ease-out;*/
	/*background-image: radial-gradient(circle at center, black 65%, #E40836);*/
	cursor: pointer;
	 animation-name: navigationHideButton;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

}
@keyframes navigationHideButton {
/*    0% {background-position: radial-gradient(circle at center, black 77%, #E40836);}
    50% {background: radial-gradient(circle at center, black 72%, #E40836);}
  100% {background: radial-gradient(circle at center, black 77%, #E40836);}*/

	
	0% {
		background-position: 150% 150%
	}
	100% {
		background-position: 60% 60%
	}
	/*100% {
		background-position: 0% 50%
	}*/

/*    	0% {
		background: 0% 50%
	}
	50% {
		background: 100% 50%
	}
	100% {
		background: 0% 50%
}*/

}
article{
	/*display: grid;
	grid-template-rows: 1fr 2 fr;*/
	background-color: grey;
}

.projectHead{
	display: flex;
	justify-content: center;
	vmargin-top: 1rem;
}



/*.carousel{*/
	/*display: grid;
	grid-template-columns: .5fr 1fr .5fr;
	max-width: 76%;*/
/*	display: flex;
	align-items: center;
	justify-content: center;*/
/*	margin-left: 21rem;
	margin-right: 20rem;
	background-color: pink;

}
*/

/*
.md-effect-5.md-modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}

.md-effect-5 .modal-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(600px) rotateX(20deg); 
	-moz-transform: translateZ(600px) rotateX(20deg); 
	-ms-transform: translateZ(600px) rotateX(20deg); 
	transform: translateZ(600px) rotateX(20deg); 
	opacity: 0;
}

.md-show.md-effect-5 .modal-content {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-webkit-transform: translateZ(0px) rotateX(0deg);
	-moz-transform: translateZ(0px) rotateX(0deg);
	-ms-transform: translateZ(0px) rotateX(0deg);
	transform: translateZ(0px) rotateX(0deg); 
	opacity: 1;
}
*/



.modal {
	max-width: 100vw;
	display: none;
	position: fixed;
	z-index:2000;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	transition: all 5s;
	transform: translateX(0%) translateY(0%);

}

.modal-content {
	background-color: rgba(264, 264, 264, .90);
	margin: 15% auto;
	padding: 2.6rem;

	border: 1px solid #FE80FE;
	border-radius: .2rem;
	width: 80%;
	font-size: 1.3rem;
	color: black;
}

.close {
	float:right;
	cursor: pointer;
	font-size: 2.5rem;
	font-weight: bold;
	position: relative;

	top: -2.6rem;
	right: -1rem;
}

.close:hover{
	font-size: 2.75rem;
}

.content h3{
	align-self: center;
	display: flex;
	justify-content: center;
	margin-right: 21rem;
}
.content{
	margin-right: 12rem;
}

